.WeNewPeople {
    background: url('/img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    p {
        margin: 0;
    }

    &-agl {
        text-align: right;
        margin-bottom: -76px;
        padding: 10px 10px 0 0;
    }

    &-stix {
        max-width: 1200px;
        margin: 0 auto;

        p {
            font-size: 2rem;
        }

        strong {
            color: #782304;
        }

        &-right {
            text-align: right;
        }

        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }
    }
}

@media (max-width: 1239px) {
    .WeNewPeople-stix p {
        font-size: 1rem;
    }

    .WeNewPeople-agl {
        margin-bottom: 26px;
    }
}